@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.paddingDiv{
  padding: 2%;
}

.ticketGrid{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.ticketItem{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.spinWidget{
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 300px 500px;
  text-align: center;
  border-radius: 10px;
}
